<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cypher.data.Properties.Settings.cypherConnectionString"
            connectionString="Data Source=XPSM1530\SQLEXPRESS;Initial Catalog=cypher;User ID=cypher"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>