<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="dictionary" value="F:\Project Folders\~!projectsWeb\~!Working\acnicholls\dev\POOL\enable1.txt" />
    <add key="loglocation" value="log" />
    <add key="ConnectionString" value="Data Source=xpsm1530\sqlexpress;database=cypher;user=cypher;password=JustAPassword" />
    <add key="log" value="file" />
    <add key="appDays" value="10" />
    <add key="ModelLocation" value="D:\Project Folders\~!projectsWeb\~!Working\acnicholls\dev\POOL\nlp\models\cSharp\"/>
  </appSettings>
</configuration>